<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet" />
    <script href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="~/AdminContent/assets/css/style.css" rel="stylesheet" />
    <link href="~/AdminContent/assets/css/admin.css" rel="stylesheet" />
    <link href="~/AdminContent/assets/css/jquery.dataTables.min.css" rel="stylesheet" />
    
    @*<link href="~/css/bootstrap.css" rel="stylesheet" />

        <script src="~/js/bootstrap.bundle.js"></script>*@
    <script src="~/js/jquery-3.7.1.js"></script>


</head>
<body id="body-pd">


    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class=" text-lg-end">
            <p>
               
            </p>
        </div>
        <div class="header_img">
            <a href="/home/index"> <img src="~/images/techedlogoonlyt.png" /></a>          

        </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>

                <a href="/AdminDashboard/Index" class="nav_logo"> <i class='bx bx-user nav_logo-icon'></i> <span class="nav_logo-name">@User.Identity.Name</span> </a>
                <div class="nav_list">
                    <a href="/AdminDashboard/Index" class="nav_link"><i class='bx bx-grid-alt nav_icon'></i><span class="nav_name @(ViewBag.title == "Dasboard" ? "active" : "")">Dashboard</span> </a>
                    @*<a href="" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Users</span> </a>*@
                    @*<a href="" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">all students</span> </a>
        <a href="" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">Add  students</span> </a>*@


                    <a class="nav_link" data-bs-toggle="collapse" href="#ui-basicStud" aria-expanded="false" aria-controls="ui-basic">
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name @(ViewBag.title == "Home" ? "active" : "")">Student</span>
                    </a>


                    <div class="collapse" id="ui-basicStud">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav_name"> <a class="nav_link @(ViewBag.title == "Home" ? "active" : "")  " href="/adminstudent/index">All Students Details</a></li>
                            <li class="nav_name"> <a class="nav_link@(ViewBag.title == "Home" ? "active" : "") " href="/adminstudent/AddStudent"> ADd Student Details</a></li>
                        </ul>
                    </div>

                    <a class="nav_link" data-bs-toggle="collapse" href="#ui-basicCourse" aria-expanded="false" aria-controls="ui-basic">
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name">Courses</span>
                    </a>
                    <div class="collapse" id="ui-basicCourse">
                        <ul class="nav flex-column sub-menu">
                           
                            <li class="nav_name"> <a class="nav_link @(ViewBag.title == "Home" ? "active" : "") " href="/AdminCourse/Index">All Courses </a></li>
                            <li class="nav_name"> <a class="nav_link @ViewBag.title == "Home" ? "active" : "") " href="/AdminCourse/AddCourse"> Add Courses </a></li>
                        </ul>
                    </div>

                    <a href="/AdminCategory/AddCourseCategory" class="nav_link"> <i class='bx bx-folder nav_icon'></i> <span class="nav_name">Course Category</span> </a>

                    <a class="nav_link" data-bs-toggle="collapse" href="#ui-basicSales" aria-expanded="false" aria-controls="ui-basic">
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name">Sales</span>
                    </a>
                    <div class="collapse" id="ui-basicSales">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav_name"> <a class="nav_link  " href="/AdminCourse/Index">Transaction</a></li>
                            <li class="nav_name"> <a class="nav_link " href="/Sales/Index"> Sales </a></li>
                            <li class="nav_name"> <a class="nav_link " href="/AdminCourse/AddCourse"> Sales Return</a></li>
                        </ul>
                    </div>


                    <a href="/AdminAnnouncement/MakeAnnouncement" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i> <span class="nav_name">Announcement</span> </a>

                    <a class="nav_link" data-bs-toggle="collapse" href="#ui-basicReport" aria-expanded="false" aria-controls="ui-basic">
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name">Reports</span>
                    </a>

                    <div class="collapse" id="ui-basicReport">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav_name"> <a class="nav_link  " href="">Sales</a></li>
                            <li class="nav_name"> <a class="nav_link " href=""> Sales return </a></li>
                            <li class="nav_name"> <a class="nav_link " href=""> Collection</a></li>
                            <li class="nav_name"> <a class="nav_link " href=""> Refund </a></li>
                        </ul>
                    </div>






                        <a href="/AdminProfile/index" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Profile</span> </a>
                    </div>
                </div> <a href="#" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span> </a>
            </nav>
        </div>
        <!--Container Main start-->
        <div class="height-100 bg-light">

        @RenderBody()
    </div>
    <!--Container Main end-->
    </div>
    <script src="~/AdminContent/assets/js/Admin.js"></script>
    <script src="~/AdminContent/assets/js/bootstrap.bundle.js"></script>
    <script src="~/AdminContent/assets/js/jquery-3.7.1.js"></script>
    <script src="~/AdminContent/assets/js/jquery.dataTables.min.js"></script>
    @*<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/js/jquery.dataTables.min.js"></script>*@
</body>
</html>
