@model Education_Service.tblAnnouncement
@{
    ViewBag.Title = "MakeAnnouncement";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>MakeAnnouncement</h2>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    // Check TempData for the DeleteSuccess flag
    var deleteSuccess = @(TempData["DeleteSuccess"] as bool?);

    // Display SweetAlert confirmation message if the delete was successful
    if (deleteSuccess) {
        swal("Success!", "Announcement deleted successfully!", "success");
    } else if (deleteSuccess === false) {
        swal("Error!", "Error deleting announcement. Please try again.", "error");
    }
</script>

<div class="content-wrapper">
    <div class="col-2"></div>
    <div class="col-10 grid-margin stretch-card">
        <div class="card " style="margin-left: 80px; background-color: #DAD8F1">
            <div class="card-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label for="exampleInputName1">Announcement Title</label>
                        @Html.EditorFor(model => model.AnnouncementTitle, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Announcement Title here" } })
                        @Html.ValidationMessageFor(model => model.AnnouncementTitle, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="exampleInputName1">Announcement Description</label>
                        @Html.EditorFor(model => model.AnnouncementDiscription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Announcement Description" } })
                        @Html.ValidationMessageFor(model => model.AnnouncementDiscription, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="exampleInputName1">Select course</label>
                        @Html.DropDownListFor(model => model.CourseId, (List<SelectListItem>)ViewBag.ClassCourseList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
                    </div>

                    <button type="submit" class="btn btn-gradient-primary me-2">Make Announcement / Save</button>
                    <button class="btn btn-light">Cancel</button>

                    <br /><br />

                    <h2>Edit/Delete Announcement</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Announcement Title</th>
                                    <th>Announcement Description</th>
                                    <th>Date</th>
                                    <th>Course Name</th>
                                    <th>Edit/Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.Announcements)
                                {
                                    <tr>
                                        <td>@item.AnnouncementTitle</td>
                                        <td>@item.AnnouncementDiscription</td>
                                        <td>@item.Date.ToShortDateString()</td>
                                        <td>@item.tblClassCourse.CourseName</td>
                                        <td>
                                            @Html.ActionLink("Edit", "MakeAnnouncement", new { id = item.id }, new { @class = "btn btn-success btn-sm" }) |
                                            @Html.ActionLink("Delete", "DeleteAnnouncement", new { id = item.id }, new { @class = "btn btn-info btn-sm" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
