@model Education_Service.tblStudentData

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
      integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

    <div class="col-xl-8">
        <div class="card mb-4">
            <div class="card-header">Account Details</div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    <div class="mb-3">
                        <label class="small mb-1" for="inputUsername">Username </label>
                        @Html.TextBoxFor(model => model.StudentCourseUsername, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="mb-3">
                        <label class="small mb-1" for="inputUsername">Full Name</label>
                        @Html.TextBoxFor(model => model.StudentName, new { @class = "form-control" })
                    </div>
                    <div class="mb-3">
                        <label class="small mb-1" for="inputEmailAddress">Email address</label>
                        @Html.TextBoxFor(model => model.StudentMailId, new { @class = "form-control" })
                    </div>
                    <div class=" mb-3">
                        <div class="">
                            <label class="small mb-1" for="inputFirstName">Mobile No</label>
                            @Html.TextBoxFor(model => model.StudentMobileNo, new { @class = "form-control" })
                        </div>

                        
                    </div>

                    <div class="mb-3">

                        <div class="">
                            <label class="small mb-1" for="inputOrgName">Address</label>
                            @Html.TextBoxFor(model => model.StudentAddress, new { @class = "form-control" })
                        </div>

                    </div>



                    <div class="row gx-3 mb-3">
                        
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputBirthday">Date Of Birthdate</label>
                            @Html.TextBoxFor(model => model.StudentDOB, new { @class = "form-control" })
                        </div>
                    </div>
                    if (ViewBag!=null)
                    {
                        <span class="bg-secondary">@ViewBag.msg</span>
                    }
                    <button class="btn btn-primary" type="submit">Save changes</button>
                   
                }

            </div>
        </div>
    </div>
        </div>
    </div>
