@model Education_Service.tblClassCourse
@{
    ViewBag.Title = "AddCourse";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    //$(document).ready(function () {
    //    $("#btnSave").click(function () {
    //        // call ajax
    //        var obj =
    //        {
    //            "Id":$("#Id").val(),
    //            "CourseName": $("#CourseName").val(),
    //            "CourseCategory": $("#CourseCategory").val(),
    //            "BatchInfo": $("#BatchInfo").val(),
    //            "EducatorProfile": $("#EducatorProfile").val(),
    //            "CourseDiscription": $("#CourseDiscription").val(),
    //            "DetailedDiscription": $("#DetailedDiscription").val(),
    //            "CourseDuration": $("#CourseDuration").val(),
    //            "CourseFees": $("#CourseFees").val(),
    //            "CoursePreviewLink": $("#CoursePreviewLink").val(),
    //            "CourseStatus": $("#CourseStatus").val()


    //        };

    //        $.ajax
    //            ({
    //                "url": "/API/SaveCourse",
    //                "method": "post",
    //                "contentType": "application/json",
    //                "data": JSON.stringify(obj),
    //                success: function (data) {
    //                    // console.log(data);

    //                    if (data.Code == 0) {
    //                        alert(data.Msg);

    //                    }
    //                },
    //                error: function (error) {
    //                    console.log(error);
    //                }
    //            });

    //    });

    //});
</script>
<h2>AddCourse</h2>
<div class="content-wrapper">

    <style>

        label {
            font-size: 1.2em;
            margin-right: 10px;
        }

        input {
            padding: 8px;
            font-size: 1em;
        }

        .form-group {
            padding-right: 80px;
            padding-left: 10px;
        }
    </style>
    <div class="col-3"></div>
    <div class="col-9 grid-margin stretch-card">
        <div class="card " style="margin-left:80px">
            <div class="card-body">




                @using (Html.BeginForm())
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group ">

                        <label for="exampleInputName1">Course Title</label>
                        @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Course Name" } })
                        @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CourseCategory, new { @class = "control-label col-md-2" })

                        @Html.DropDownListFor(model => model.CourseCategory, (List<SelectListItem>)ViewBag.CourseCatergories, new { @class = "form-control" })
                        @*@Html.DropDownListFor(model => model.CourseCategory, (List<SelectListItem>)ViewBag.CourseCatergories, new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.CourseCategory, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <label for="exampleInputName1">BatchInfo</label>
                        @Html.EditorFor(model => model.BatchInfo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter BatchInfo" } })
                        @Html.ValidationMessageFor(model => model.BatchInfo, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail3">Educator Profile</label>
                        @Html.EditorFor(model => model.EducatorProfile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Educator Profile" } })
                        @Html.ValidationMessageFor(model => model.EducatorProfile, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword4">Course Discription</label>
                        @Html.EditorFor(model => model.CourseDiscription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter CourseDiscription" } })
                        @Html.ValidationMessageFor(model => model.CourseDiscription, "", new { @class = "text-danger" })


                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Detailed Course Discription</label>
                        @Html.EditorFor(model => model.DetailedDiscription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Detailed Discription" } })
                        @Html.ValidationMessageFor(model => model.DetailedDiscription, "", new { @class = "text-danger" })

                    </div>
                    <div>
                        <divform>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CourseDuration, "Select Course Duration In Months:")
                                @Html.TextBoxFor(model => model.CourseDuration, new { type = "number", min = "0", max = "24", required = "required", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CourseDuration, "", new { @class = "text-danger" })
                            </div>

                        </divform>
                    </div>


                    @*<div class="form-group">
                    <label>Upload P</label>
                    <input type="file" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                        </span>
                    </div>
                </div>*@
                    <div class="form-group">
                        <label for="exampleInputCity1">Course Fees</label>
                        @Html.EditorFor(model => model.CourseFees, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter CourseFees in ₨ " } })
                        @Html.ValidationMessageFor(model => model.CourseFees, "", new { @class = "text-danger" })


                    </div>
                    <div class="form-group">
                        <label for="exampleInputCity1">Course Preview Link</label>
                        @Html.EditorFor(model => model.CoursePreviewLink, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter CoursePreview Link Here" } })
                        @Html.ValidationMessageFor(model => model.CoursePreviewLink, "", new { @class = "text-danger" })

                    </div>
                    @*<div class="form-group">
                    <label for="exampleTextarea1">Textarea</label>
                    <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                </div>*@
                    <div class="form-group">

                        @Html.DropDownListFor(model => model.CourseStatus, (List<SelectListItem>)ViewBag.CourseStatuses, "Select Status", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CourseStatus, "", new { @class = "text-danger" })


                        @*@Html.DropDownListFor(model => model.CourseStatus, new SelectList(new[] { "Active", "Deactive" }), "Select Status", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CourseStatus, "", new { @class = "text-danger" })*@


                    </div>
                    <button type="submit" class="btn btn-gradient-primary me-2">Add Course</button>
                    <button class="btn btn-light">Cancel</button>


                }

            </div>

        </div>
        </div>
            </div>
        
